# Node & Build artifacts
node_modules/
dist/
build/
.cache/

# Local Environment & Secrets
.env
.env.local
*.log

# IDE & Editor Files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db

# Backup folders
Backup_*/
V 1.*/
